<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Booking System-Home Page</title>
      <link rel="icon" type="image/x-icon" href="./photos/Untitled-2 (1).ico">
    <link rel="stylesheet" href="stylesheets/Home_home.css">
    <link rel="stylesheet" href="stylesheets/Home_all.min.css">
    <link rel="stylesheet" href="stylesheets/Home_normalize.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="container">
                <img src="images/logohospital.png" alt="logo">
                <ul>
                    <a href="home"><li>Home</li></a>
                    <a href="home"><li>Doctors</li></a> 
                    <a href="mailto:hospitalbookingsystem@gmail.com"><li>contact us</li></a>
                  </ul>
                 </div>
        </div>
    </header>
    <br><br><br>
     <main>
        <div class="main-container">
           <div class="doctor"></div>
        </div>
            <div class="best-doctors">
            <h1 class="box h1">Best Doctors</h1>
            <p class="box first-p" style="width: 200px;">We Have The Best Doctors and Medical Teams In Many Specialaizations</p>
            <p class="box second-p" style="width:200px;">We provide ongoing health care services for patients and families anytime</p>
        </div>
        <div class="specialities">specialities</div>
        <br>
        <div class="clinics">
            <div class="dentistry">
                <img src="images/General-Dentistry.jpeg" alt="">
                <div class="int"><h2 style="font-size: 35px;">Dentistry</h2>
                    <p style="width:200px;">We Have The Best Dentists In The Dentistry Department With The Latest Technology In That Department</p></div>
                    <div class="button button-dent">
                        <a href="internal">BOOK</a>  </div>
         
            </div>
            <div class="neurology">
                <img src="images/AdobeStock_172813720.jpeg" alt="">
                <div class="int"><h2 style="font-size: 35px;">Neurology</h2>
                    <p style="width:200px;">We Have The Best Doctors In The Neurology Department With The Latest Technology In That Department</p></div>
                    <div class="button button-neuro">
                        <a href="internal">BOOK</a> </div>
            </div>
            <div class="cardiology">
                <img src="images/istockphoto-1290220631-170667a.jpg" alt="">
                <div class="int"><h2 style="font-size: 35px;">Cardiology</h2>
                    <p style="width:200px;">We Have The Best Doctors In The Cardiology Department With The Latest Technology In That Department</p></div>

                    <div class="button button-cardio">
                        <a href="internal"> BOOK</a></div>
            </div>
            <div class="internal">
                <img src="images/istockphoto-1254390333-612x612.jpg" alt="">
                <div class="int"><h2 style="font-size: 35px;">Internal Medicine</h2>
                    <p style="width:200px;">We Have The Best Doctors In The Internal Medicine Department With The Latest Technology In That Department</p>
                </div>
                <div class="button button-internal">
                    <a href="internal"> BOOK</a></div>
            </div>
            <div class="er"></div>
            <div class="es"></div>
            <div class="sb"></div>
            <div class="sb"></div>


           
        </div>
    <div class="foot">
   <div class="container">
    <img src="../photos/logohospital.png" alt="logo">
    <ul>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Doctors</li></a> 
        <a href="mailto:hospitalbookingsystem@gmail.com"><li>contact us</li></a>
      </ul>
      <div class="about">
        about us 
        <p>
            Hospital booking system is a system for reserving clinc online
        </p>
      </div>
   </div>
    </div>
    </footer> 
</body>
</html>